<!doctype html>

<html>
<head>
	<title>Adventure</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=devide-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/bootstrap.css"></link>
	<link rel="stylesheet" href="css/bootstrap-theme.css"></link>
	<link rel="stylesheet" href="css/hci-friends.css"></link>
	
</head>

<body>
	<div class="container">
	<h1>Adventure page coming soon...</h1>

	
	<form id="addFriendForm" role="form" method="get" action="/add">
		<h3>Add an adventure</h3>
	    <div class="form-group">
	      <label for="name">Load your picture</label>
	      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
	    </div>
	    <div class="form-group">
	      <label for="description">Description:</label>
	      <input type="text" class="form-control" id="description" placeholder="Description" name="description">
	    </div>
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Add!"></input>
	</form>
	</div>
	<div class="new-adventure">
			<a href="bucket"><h4>Go back to your Bucket!<bold>+</bold></h4></a>
	</div>
</body>

<script src="js/jquery-1.11.0.js"></script>
<script src="js/hci-friends.js"></script>
<script src="js/bootstrap.js"></script>

</html>
