<!doctype html>
<html>
<head>
  <title>ADVENTURE YOU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="css/bootstrap.css">
</link>
<link rel="stylesheet" href="css/bootstrap-theme.css">
</link>
<link rel="stylesheet" href="css/style.css">
</link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<!--Top header of the application-->
<header>
  <div id="header">
    <div class="container">
      <div>
        <div class="title">
          <a href="/page_B"><img class="adventureyou" src="images/ADVENTURE YOU.png"></a>
        </div>
        <div>
          <nav>
            <ul>
              <div class="navbar-menu">
                <li><a class="active" href="friend"><img class="nav-icon" src="images/Plus.png"></a></li>
                <li><a href="/page_B"><img class="nav-icon" src="images/Feed Icon.png"></a></li>
                <li><a href="start_adventure"><img class="nav-icon" src="images/Mountain.png"></a></li>
                <li><a href="bucket"><img class="nav-icon" src="images/Bucketlist Icon.png"></a></li>
                <li><button class="hamburger">&#9776;</button>
                </li>
              </div>
            </ul>
          </nav>
        </div>
      </div>
      <div style="position: relative;">
        <div class="menu">
          <ul>
            <a href="/logout">
              <li>Log Out</li>
            </a>
            <a href="friend">
              <li>Create an Adventure</li>
            </a>
            <a href="/">
              <li>Newsfeed</li>
            </a>
            <a href="start_adventure">
              <li>Start Adventuring</li>
            </a>
            <a href="bucket">
              <li>Bucket List</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Actual start of the content-->
<div class="container">
  <h1 style="text-align: center; letter-spacing: -1px;">Create Your Own Adventure</h1>
  <form action="/upload" enctype="multipart/form-data" method="post" style="margin: 0 20px">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title" name="title" required>
    </div>
    <div class="form-group">
      <label for="Date">Date</label>
      <input type="date" class="form-control" id="date" name="date" required>
    </div>
    <div class="form-group">
      <label for="Theme">Theme</label>
      <input type="text" class="form-control" id="theme" placeholder="Theme" name="theme" required>
    </div>
    <div class="form-group">
      <label for="Theme">Description</label>
      <input type="text" class="form-control" id="description" placeholder="Description" name="description" required>
    </div>
    <div class="form-group">
      <label for="StartingLoc">Starting Location</label>
      <input type="text" class="form-control" id="startingloc" placeholder="Starting Location" name="startingLoc" required>
    </div>

    <div class = "form-group" id='MoreLoc'>
      <div id="MoreLoc1">
        <label>Intermediate Location #1 : </label>
        <input type='textbox' id='textbox1' class="form-control" name="textbox1">
      </div>
    </div>
    <input type='button' class = "btn" value='Add Location' id='addButton'>
    <input type='button' class = "btn" value='Remove Location' id='removeButton'>

    <div class="form-group">
      <label for="EndingLoc" style ="margin-top: 5px;">Ending Location</label>
      <input type="text" class="form-control" id="endingloc" placeholder="Ending Location" name="endingLoc" required>
    </div>
    <div class="form-group">
      <input multiple="multiple" name="upload" type="file" required/>
    </div>
    <input type="submit" class="btn btn-success btn-lg" value="Upload" />
  </form>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93242528-1', 'auto');
  ga('send', 'pageview');

</script>

<!--Scripts-->
<script type="text/javascript">
$(document).ready(function(){

  var counter = 2;

  $("#addButton").click(function () {

    if(counter>10){
      alert("Only 10 textboxes allow");
      return false;
    }

    var newTextBoxDiv = $(document.createElement('div'))
    .attr("id", 'MoreLoc' + counter);

    newTextBoxDiv.after().html('<label>Intermediate Location #'+ counter + ' : </label>' +
    '<input type="textbox" name="textbox' + counter +
    '" id="textbox' + counter + '" class="form-control">');

    newTextBoxDiv.appendTo("#MoreLoc");

    counter++;
  });

  $("#removeButton").click(function () {
    if(counter==1){
      alert("No more locations to remove");
      return false;
    }

    counter--;

    $("#MoreLoc" + counter).remove();

  });
});
</script>
<script src="js/bootstrap.js"></script>
<script src="js/main.js"></script>
</html>
