<!doctype html>

<html>
<head>
	<title>ADVENTURE YOU</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=devide-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/bootstrap.css"></link>
	<link rel="stylesheet" href="css/bootstrap-theme.css"></link>
	<link rel="stylesheet" href="css/style.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
</head>
<header>
    <div id="header">
            <div class="container">
                <div>
                    <div class="title">
                        <a href="/"><img class="adventureyou" src="images/ADVENTURE YOU.png"></a>
                    </div>
                    <div>
                        <nav>
                            <ul>
                                <div class="navbar-menu">
                                    <li><a class="active" href="friend"><img class="nav-icon" src="images/Profile Icon.png"></a></li>
                                    <li><a href="/"><img class="nav-icon" src="images/Feed Icon.png"></a></li>
                                    <li><a href="map"><img class="nav-icon" src="images/Map Icon.png"></a></li>
                                    <li><a href="bucket"><img class="nav-icon" src="images/Bucketlist Icon.png"></a></li>
                                    <li><button class="hamburger">&#9776;</button>
                                    </li>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <a href="https://a6-adventure-you.herokuapp.com/login">
                            <li>Log Out</li>
                        </a>
                        <a href="https://a6-adventure-you.herokuapp.com/friend">
                            <li>Create an Adventure</li>
                        </a>
                        <a href="https://a6-adventure-you.herokuapp.com/">
                            <li>Newsfeed</li>
                        </a>
                        <a href="https://a6-adventure-you.herokuapp.com/map">
                            <li>Hotspots</li>
                        </a>
                        <a href="https://a6-adventure-you.herokuapp.com/bucket">
                            <li>Bucket List</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </header>

<body>
	<h1>Coming Soon.....</h1>
    <div class="new-adventure">
            <a href="share"><h4>Share adventure????<bold>+</bold></h4></a>
    </div>

</body>

<script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>
</html>

