<!doctype html>
<html>
    <head>
        <title>ADVENTURE YOU</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="css/bootstrap.css">
        </link>
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        </link>
        <link rel="stylesheet" href="css/style.css">
        </link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <!--Top header of the application-->
    <header>
        <div id="header">
            <div class="container">
                <div>
                    <div class="title">
                        <a href="/"><img class="adventureyou" src="images/ADVENTURE YOU.png"></a>
                    </div>
                    <div>
                        <nav>
                            <ul>
                                <div class="navbar-menu">
                                    <li><a class="active" href="friend"><img class="nav-icon" src="images/Profile Icon.png"></a></li>
                                    <li><a href="/"><img class="nav-icon" src="images/Feed Icon.png"></a></li>
                                    <li><a href="start_adventure"><img class="nav-icon" src="images/Map Icon.png"></a></li>
                                    <li><a href="bucket"><img class="nav-icon" src="images/Bucketlist Icon.png"></a></li>
                                    <li><button class="hamburger">&#9776;</button>
                                    </li>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div style="position: relative;">
                    <div class="menu">
                        <ul>
                          <a href="/logout">
                              <li>Log Out</li>
                          </a>
                          <a href="friend">
                              <li>Create an Adventure</li>
                          </a>
                          <a href="/">
                              <li>Newsfeed</li>
                          </a>
                          <a href="start_adventure">
                              <li>Start Adventuring</li>
                          </a>
                          <a href="bucket">
                              <li>Bucket List</li>
                          </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Actual start of the content-->
        <div class="container">
            <h1>Create Your Own Adventure</h1>
            <form action="/upload" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="Date">Date</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>
                <div class="form-group">
                    <label for="Theme">Theme</label>
                    <input type="text" class="form-control" id="theme" placeholder="Theme" name="theme" required>
                </div>
                <div class="form-group">
                    <label for="Theme">Description</label>
                    <input type="text" class="form-control" id="theme" placeholder="Description" name="description" required>
                </div>
                <div class="form-group">
                    <label for="StartingLoc">Starting Location</label>
                    <input type="text" class="form-control" id="startingloc" placeholder="Starting Location" name="startingLoc" required>
                </div>
                <div class="form-group">
                    <label for="EndingLoc">Ending Location</label>
                    <input type="text" class="form-control" id="endingloc" placeholder="Ending Location" name="endingLoc" required>
                </div>
                <div class="form-group">
                    <input multiple="multiple" name="upload" type="file" required/>
                </div>
                <input type="submit" class="btn btn-success btn-lg" value="Upload" />
            </form>
        </div>
        <!--Scripts-->
        <script type="text/javascript"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/main.js"></script>
</html>
