<!doctype html>

<html>
<head>
	<title>ADVENTURE YOU</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=devide-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/bootstrap.css"></link>
	<link rel="stylesheet" href="css/bootstrap-theme.css"></link>
	<link rel="stylesheet" href="css/style.css"></link>
	
	
</head>
<header>
    <div id="header">
        <nav>
            <div class="container-fluid">
                <div>
                	<div class="title">
                		<img class="adventureyou" src="images/ADVENTURE YOU.png">
                	</div>
                    <div class="row">
                        <nav>
                            <ul class="nav-left">                             
								<li><a href="#"><img class="nav" src="images/Profile Icon.png"></a></li>
                                <li><a href="/"><img class="nav" src="images/Feed Icon.png"></a></li>
                                <li><a href="#"><img class="nav" src="images/Map Icon.png"></a></li>
                                <li><a href="bucket"><img class="nav" src="images/Bucketlist Icon.png"></a></li>   
                            </ul>
                        </nav>
                    </div>
                </div>
                
            </div>
        </nav>
    </div>
</header>

<body>
	<h1>Coming Soon.....</h1>
    <div class="new-adventure">
            <a href="share"><h4>Share adventure????<bold>+</bold></h4></a>
    </div>

</body>

<script src="js/jquery-1.11.0.js"></script>
<script src="js/hci-friends.js"></script>
<script src="js/bootstrap.js"></script>

</html>

