<!doctype html>
<html>
    <head>
        <title>ADVENTURE YOU</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="css/bootstrap.css">
        </link>
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        </link>
        <link rel="stylesheet" href="css/style.css">
        </link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <header>
        <div id="header">
            <div class="container">
                <div>
                    <div class="title">
                        <a href="/"><img class="adventureyou" src="images/ADVENTURE YOU.png"></a>
                    </div>
                    <div >
                        <nav>
                            <ul>
                                <div>
                                    <li><a href="friend"><img class="nav-icon" src="images/Profile Icon.png"></a></li>
                                    <li><a class="active" href="/"><img class="nav-icon" src="images/Feed Icon.png"></a></li>
                                    <li><a href="map"><img class="nav-icon" src="images/Map Icon.png"></a></li>
                                    <li><a href="bucket"><img class="nav-icon" src="images/Bucketlist Icon.png"></a></li>
                                    <li><button class="hamburger">&#9776;</button>
                                    </li>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <a href="#">
                            <li>LINK ONE</li>
                        </a>
                        <a href="#">
                            <li>LINK TWO</li>
                        </a>
                        <a href="#">
                            <li>LINK THREE</li>
                        </a>
                        <a href="#">
                            <li>LINK FOUR</li>
                        </a>
                        <a href="#">
                            <li>LINK FIVE</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section id="index">
    <body>
        <div class="container">
            <div>
                <div class="feed-box col-md-6 col-sm-12 col-xs-12">
                    <div>
                    	<div class="monthDateContainer">
                    		<div class="month">DEC </div>
                    		<div class="date">10 </div>
                    	</div>
                        <div class="feed-info">
                            <img class="prof-pic" src="http://itzkong.s3-us-west-2.amazonaws.com/wp-content/uploads/2016/10/27140330/itzkong_20161027150333-422x375.jpg">
                            <img class="prof-pic" src="http://itzkong.s3-us-west-2.amazonaws.com/wp-content/uploads/2016/10/27140330/itzkong_20161027150333-422x375.jpg">
                            <img class="prof-pic" src="http://itzkong.s3-us-west-2.amazonaws.com/wp-content/uploads/2016/10/27140330/itzkong_20161027150333-422x375.jpg">
                        </div> 
                    </div>
                    <div class="img-layout">
                        <img class="picture" src="images/night.jpg">
                        <div class="col-md-6 description">
                        	<p>
                        		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
                        	</p>
                        	<div>
                        		<div onclick="askToJoin()" class="add-button col-md-5 col-sm-5 col-xs-5"><img class="nav-icon" src="images/Bucketlist Icon.png"></div>
                        		<div class="col-md-2 col-sm-2 col-xs-2"></div>
                        		<div onclick="addToBucket()" class="bucket-button col-md-5 col-sm-5 col-xs-5"><img class="nav-icon" src="images/Bucketlist Icon.png"></div>
                        	</div>
                        </div>

                    </div>
                </div>
                <div class="feed-box col-md-6 col-sm-12 col-xs-12">
                    <div>
                    	<div class="monthDateContainer">
                    		<div class="month">DEC </div>
                    		<div class="date">10 </div>
                    	</div>
                        <div class="feed-info">
                            
                            <img class="prof-pic" src="http://itzkong.s3-us-west-2.amazonaws.com/wp-content/uploads/2016/10/27140330/itzkong_20161027150333-422x375.jpg">
                            <img class="prof-pic" src="http://itzkong.s3-us-west-2.amazonaws.com/wp-content/uploads/2016/10/27140330/itzkong_20161027150333-422x375.jpg">
                            <img class="prof-pic" src="http://itzkong.s3-us-west-2.amazonaws.com/wp-content/uploads/2016/10/27140330/itzkong_20161027150333-422x375.jpg">
                        </div> 
                    </div>
                    <div class="img-layout">
                        <img class="picture" src="images/night.jpg">
                        <div class="description">
                        	<p>
                        		Choi Seun Sil has posted a new adventure!
                        	</p>
                        	<div>
                        		<div onclick="askToJoin()" class="add-button col-md-5 col-sm-5 col-xs-5"><img class="nav-icon" src="images/Bucketlist Icon.png"></div>
                        		<div class="col-md-2 col-sm-2 col-xs-2"></div>
                        		<div onclick="addToBucket()" class="bucket-button col-md-5 col-sm-5 col-xs-5"><img class="nav-icon" src="images/Bucketlist Icon.png"></div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </section>
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">
        $('.img-layout').click(function() {        	
        	$(this).children(".description").toggle(500);
        	$(this).children(".picture").css('opacity', function(i,o) {
        		 return parseFloat(o).toFixed(1) === '0.3' ? 1 : 0.3;
        	}); 	
        });
        function addToBucket() {
        	alert("added to bucketlist");
        }
        function askToJoin() {
        	alert("Sent request to join");
        }
    </script>
</html>