<!doctype html>
<html>
    <head>
        <title>ADVENTURE YOU</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="css/bootstrap.css">
        </link>
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        </link>
        <link rel="stylesheet" href="css/style.css">
        </link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <style>

    </style>
    <header>
        <div id="header">
            <div class="container">
                <div>
                    <div class="title">
                        <img class="adventureyou" src="images/ADVENTURE YOU.png">
                    </div>
            </div>
        </div>
    </header>

    <body onLoad="window.scroll(0, 150)">
        <section id="login">
    <div class="login-page">
        <div class="container">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="login-page-wrap">
                    <div class="title">
                        <h1 data-barley="login_heading" data-barley-editor="simple">SIGN IN</h1>

                        <form role="form"  accept-charset="utf-8">
                            <p>
                                <a href="/createlogin" data-barley="login_no_account_link" data-barley-editor="linkedit">
                                <span data-barley="login_no_account_1" data-barley-editor="simple">Create your account!</span>
                                </a>

                            </p>
                            <div class="login-form">
                                <p>
                                    <label for="email" class="sr-only" data-barley="login_label_email" data-barley-editor="simple">Email Address</label>
                                    <input type="email" name="email" class="form-control input-lg" placeholder="EMAIL ADDRESS">
                                </p>
                                <p>
                                    <label for="password" class="sr-only" data-barley="login_label_password" data-barley-editor="simple">Password</label>
                                    <input type="password" class="form-control input-lg" id="inputPassword" name="password" placeholder="PASSWORD">
                                </p>
                                <a href ="/">
                                    <input type="button" class="login-btn" data-barley="login_submit_btn" data-barley-editor="simple" value="LOG IN" />
                                </a>
                            </div>
                        </form>
                        <p>
                            <a href="/createlogin" data-barley="login_forgot_password" data-barley-editor="linkedit">Forgot Password?</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </body>

    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>

</html>
