<!doctype html>

<html>
<head>
	<title>Login Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=devide-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/bootstrap.css"></link>
	<link rel="stylesheet" href="css/bootstrap-theme.css"></link>
	<link rel="stylesheet" href="css/hci-friends.css"></link>
	
</head>

<body>
	<div class="container">
	<h1>Login page coming soon...</h1>

	
	<form id="addFriendForm" role="form" method="get" action="/add">
		<h3>Shares</h3>
	   
	<div class="new-adventure">
			<a href="/"><h4>Go back to your Newsfeed!<bold>+</bold></h4></a>
		</div>
</body>

<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>

	
	
</html>
