ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fa4748;
}

li {
    float: left;
    width: 25%;
    text-align: center;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover {
    position: relative;
    width: 60%;
    transform: scale(1.5);
    background-color: #d50a0a;
}

.title {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 9vw;
    text-align: center;
    color: white;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    background-color: #d50a0a;
    margin: 0; !important
    padding: 0; !important
}

.picture {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    display:block;
}

.img-layout {
    clear: both;
}

.prof-pic {
    float: left;
    margin-right: 7px;
    width: 15%;

}

.description {
    display: inline;
    font-size: 3.5vw;
    font-style: sans-serif;
}

.adventureyou {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  position: relative;
  display:block;
}

.nav {
  position: relative;
  width:  20px;
  height: 20px;
}
